<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sentiment analysis result</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="bootstrap.css" />
  </head>
  <body class="container body-content">
    <div class="container">
      <h2>Validation Report</h2>
  </div>
    <div class="container" id="divResults">
 
    <table style='width: 50%' >
    <%for(let i = 0; i < result.length; i++){%>
      <tr><td colspan='25'><h3>Text: <%=result[i].text%></h3></td></tr>
      <tr><td colspan='25'><h3>Sentiment: <%=result[i].sentiment%></h3></td></tr>
        <tr><td colspan='25'><h3>Confidence Scores: </h3></td></tr>
        <tr><td colspan='8'><h3 style="font-weight:300; color:rgb(47, 128, 0)"> Positive : <%=result[i].confidenceScores.positive%>%></h3></td>
          <td colspan='8'><h3 style="font-weight:300; color:rgb(0, 19, 128)">  Neutral : <%=result[i].confidenceScores.neutral%>%></h3></td>
          <td colspan='8'><h3 style="font-weight:300; color:rgb(128, 0, 11)"> Negative : <%=result[i].confidenceScores.negative%>%></h3></td></tr>

    <% }%>
  </table>
         
</div>
  </body>
</html>
